/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #D3C6AA;
@define-color background #2D353B;
@define-color foreground #D3C6AA;
@define-color color0  #343F44;
@define-color color1  #E67E80;
@define-color color2  #A7C080;
@define-color color3  #DBBC7F;
@define-color color4  #7FBBB3;
@define-color color5  #D699B6;
@define-color color6  #83C092;
@define-color color7  #D3C6AA;
@define-color color8  #5C6A72;
@define-color color9  #F85552;
@define-color color10 #8DA101;
@define-color color11 #DFA000;
@define-color color12 #3A94C5;
@define-color color13 #DF69BA;
@define-color color14 #35A77C;
@define-color color15 #DFDDC8;
